@using Ecommerce.Repository.Models;
@model Ecommerce.Repository.Models.Cliente;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	var carrello = ViewBag.Carrello as List<Prodotto>;
	var cliente = ViewBag.Cliente;
	var counter = from x in carrello
						group x by x.Id into g
						let count = g.Count()
						select new {Nome = g.First().Nome, Count = count, Id = g.First().Id, Prezzo = g.First().Prezzo};
	//Dictionary<int, int> unique = new Dictionary<int, int>();
	//foreach (var item in counter)
	//{
	//	unique.Add()
	//}
}
<div class="container">
	<div class="row g-5">
		<div class="col-md-5 col-lg-4 order-md-last">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-primary">Your cart</span>
				<span class="badge bg-primary rounded-pill">3</span>
			</h4>
			<ul class="list-group mb-3">
				@foreach (var item in counter)
				{
					
					<li class="list-group-item d-flex justify-content-between lh-sm">
						<div>
							<h6 class="my-0">@item.Nome</h6>
							<small class="text-muted">
								@foreach (var n in count)
								{
									if (n)
									{
										
									}
								}
							</small>
						</div>
						<div class="btn-group">
							<a asp-controller="Prodotto" asp-action="RiduciCarrello" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">-</a>
							<a asp-controller="Prodotto" asp-action="AumentaCarrello" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-outline-secondary">+</a>
						</div>
						<span class="text-muted">@Math.Round(item.Prezzo,2)</span>
					</li>
				}
			</ul>
		</div>
		<div class="col-md-7 col-lg-8">
			<h4 class="mb-3">Dati del Cliente</h4>
			<form asp-controller="Cliente" asp-action="CreaCliente" method="POST">
				<div class="mb-3">
					<label asp-for="Nome" class="form-label">Nome</label>
					<input type="text" class="form-control" asp-for="Nome" readonly value="@cliente.Nome">
				</div>
				<div class="mb-3">
					<label asp-for="Cognome" class="form-label">Cognome</label>
					<input type="text" class="form-control" asp-for="Cognome" readonly value="@cliente.Cognome">
					<span style="color:red" asp-validation-for="Cognome"></span><br />
				</div>
				<div class="mb-3">
					<label asp-for="Email" class="form-label">Email</label>
					<input type="email" class="form-control" asp-for="Email" readonly value="@cliente.Email">
					<span style="color:red" asp-validation-for="Email"></span><br />
				</div>
				<div class="mb-3">
					<label asp-for="NumeroTel" class="form-label">Numero di Telefono</label>
					<input type="text" class="form-control" asp-for="NumeroTel" readonly value="@cliente.NumeroTel">
					<span style="color:red" asp-validation-for="NumeroTel"></span><br />
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
