@using Ecommerce.Repository.Models

@model List<Ecommerce.Repository.Models.Prodotto>;
@{
	var carrello = ViewBag.Carrello as List<Prodotto>;
	var categorie = ViewBag.Categoria as List<Categorium>;
	var immagini = ViewBag.Immagine as List<Immagine>;
	int count = 0;
}
<main>
	<div class="text-end">
		<h2>
			<a class="text-dark" asp-controller="Prodotto" asp-action="Checkout">
				<i class="fa-solid fa-basket-shopping"></i>
			</a>
			@if (carrello.Count() != 0)
			{
				<sub class="rounded-circle bg-success" style="font-size:15px; padding:0px 7px; margin-left:-8px;"><small>@carrello.Count()</small></sub>
			}
		</h2>
	</div>
	<section class="py-5 text-center container hero">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<h1 class="fw-light">NTT DATA Excellence</h1>
				<p class="lead text-muted">Benvenuti nel nostro Shop, Troverai i nostri prodotti qua sotto.</p>
			</div>
		</div>
	</section>

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ">
				@foreach (var item in @Model)
				{
					<div class="col">
						<div class="card shadow-sm" style="height:647px">
							@{
								count = 0;
							}
							@foreach (var img in @immagini)
							{
								@if (@item.Id == @img.IdProdotto)
								{
									count++;
									<div style="height:486px">
										<img src="@img.Link" class="img-fluid">
									</div>
									break;
								}
							}
							@if (count == 0)
							{
								<div class="d-flex justify-content-center">
									<img src="/placeholder.png" class="img-fluid" style="height:486px">
								</div>
							}
							<div class="card-body">
								<h5>@item.Nome</h5>
								<p class="card-text">@item.DescBreve</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a asp-controller="Prodotto" asp-action="GetProdotto" asp-route-id="@item.Id" type="button" class="btn btn-sm btn-primary rounded-pill">Acquista ora</a>
									</div>
									<h6 class="mb-0 text-success">&euro;@Math.Round(@item.Prezzo,2)</h6>
									@foreach (var categoria in @categorie)
									{
										if (item.IdCategoria == categoria.Id)
										{
											<small class="text-mute">@categoria.Nome</small>
											break;
										}

									}
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

</main>